  @keyframes show {
    from {
      filter: opacity(1);
    }
    to {
      filter: opacity(0);
    }
  }
    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      margin: 0px;
      padding: 0px;
      text-align: center;
    }
    body {
      background-color: black;
      color: white;
    }
    .menu {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: row;
      border: 0.5px solid white;
      padding: 10px 0px;
      background-color: brown;
    }
    .menuitems {
      color: beige;
      text-decoration: none;
      text-shadow: 0px 0px 1px black;
    }
    .box {
      width: 100%;
      background-color: beige;
      color: brown;
      padding: 10px 15px;
    }
    .heading {
      color: black;
      font-family: serif;
      margin: 10px 0px;
    }
    .paragraph {
      font-family: cursive;
      margin-bottom: 10px;
    }
    #clock {
      color: white;
      background-color: brown;
      padding: 10px 0px;
      font-family: serif;
    }
    .resultbox {
      width: 100%;
      background-color: beige;
      padding: 20px 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .rb-heading {
      width: 50%;
      border: 1px solid black;
      background-color: forestgreen;
      color: black;
      border-radius: 50%;
      padding: 10px 0px;
      font-family: monospace;
      margin: 10px 0px;
      text-shadow: 0px 0px 1px green;
    }
    .rb-note {
      color: black;
      
    }
    .rb-livegame {
      color: red;
      font-family: serif;
      margin: 20px 0px;
      text-shadow: 1px 1px 0px black;
    }
    .rb-liveresult {
      color: white;
      width: min-content;
      background-color: black;
      padding: 10px;
      border-radius: 50%;
      text-shadow: 0px 0px 3px red;
      
    }
    .chart-ad {
      background-color: forestgreen;
      width: 100%;
      padding: 10px 0px;
      font-family: serif;
      font-size: 20px;
    }
    .dr-box {
      
    }
    .dr-box {
      display: grid;
      grid-template-columns: auto auto;
    }
    .games {
      color: beige;
      width: 100%;
      background-color: brown;
      border: 1px solid white;
      padding: 20px 0px;
    }
    .gamenames {
      font-family: "Ribeye";
      text-shadow: 1px 1px 0px black;
    }
    .gametimes {
      font-weight: 300;
      font-size: 14px;
      margin: 5px 0px;
    }
    .gameopen {
      width: 100%;
    }
    .game-spans {
      font-weight: bold;
      background-color: beige;
      border-radius: 5px;
      padding: 2px;
      color: brown;
      text-shadow: 0.5px 0.5px 0px black;
    }
    .game-span {
      animation: show 1s linear infinite alternate;
    }
    .add {
      border: 0.5px dashed red;
      color: brown;
      margin-top: 10px;
      padding: 15px 0px;
      background: beige;
    }
    .addhead-1, .addhead-2 {
      color: black;
      font-size: 18px;
      margin: 4px 0px;
      letter-spacing: 2px;
      font-family: monospace;
      text-shadow: 0px 0px 1px brown;
    }
    .allgames {
     display: grid;
     grid-template-columns: auto auto;
    }
    .playgames, .playgame {
      padding: 5px 0px;
      font-family: serif;
      font-weight: bold;
      text-shadow: 0px 0px 1px black;
    }
    .playgames {
      text-align: start;
      padding-left: 30px;
    }
    .wabtn {
      border: 0.5px solid white;
      padding: 10px 25px;
      margin-top: 20px;
      border-radius: 20px;
      background-color: #25D366;
      font-size: 16px;
      font-family: serif;
      transition: all 0.5s linear;
      text-shadow: 0px 0px 2px white;
    }
    .wabtn:hover {
      box-shadow: 0px 0px 10px cyan;
      font-size: 16.5px;
    }
    .rates {
      margin: 5px 0px;
      font-family: cursive;
      font-weight: bold;
    }
    .liveplay {
      background-color: black;
      width: 100%;
      color: white;
      padding: 10px 10px;
      font-size: 18px;
      margin: 20px 0px;
      text-shadow: 0px 0px 1px red;
    }

#inconcall {
  color: white;
  background-color: #0d6efd;
  padding: 5px 20px;
  border-radius: 20px;
  transition: all 0.2s linear;
}
#inconcall:hover {
  box-shadow: 0px 0px 10px #0d6efd;
  font-size: 16.2px;
}
#inconwhat {
  color: white;
  background-color: #25D366;
  padding: 5px 20px;
  border-radius: 20px;
  transition: all 0.2s linear;
}
#inconwhat:hover {
  box-shadow: 0px 0px 10px #25D366;
  font-size: 16.2px;
}

    .chart {
      width: 100%;
      padding: 5px 0px;
    }
    .charthead {
      font-family: 'serif';
      width: 100%;
      font-size: 24px;
      background-color: brown;
      padding: 10px 0px;
      border: 1px double white;
    }
    .table {
      width: 100%;
      border: 1px solid skyblue;
    }
    .thdiv {
      font-size: 9px;
      border: 0.5px solid red;
      padding: 5px 0px;
      color: white;
      font-weight: bold;
      letter-spacing: 0px;
      font-family: monospace;
      text-shadow: 0px 0px 10px black;
      background-color: brown;
    }
    .tdsd {
      color: brown;
      font-weight: bold;
      border: 0.2px solid white;
      background-color: beige;
    }
    .tds {
      background-color: #2B552A;
      font-size: 14px;
    }
    .site-add {
      padding: 15px 0px;
      width: 100%;
      border: 1px solid white;
      background-color: #42445A;
      height: min-content;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }
    .site-heading {
      font-family: serif;
      font-size: 19px;
    }
    .btn-box {
      text-shadow: 0px 0px 1px black;
      font-family: monospace;
      display: flex;
      justify-content: center;
      gap: 5px;
      width: 100%;
      flex-direction: row;
      height: 100%;
      text-decoration: none;
      color: white;
    }
    #username, #password {
      border: 0.2px solid black;
      margin-bottom: 5px;
      font-family: serif;
      padding: 3px 5px;
      text-align: left;
    }
    #submit:active {
      /* color: green; */
      /* background-color: red; */
      box-shadow: 0px 0px 10px #728ED2;
      /* background-color: #14508B; */
    }
    #s-menu, #s-menu-month {
      border: 0.5px solid black;
      color: black;
      padding: 2px 10px;
      font-weight: bold;
    }
      .ch-box {
    background-color: black;
  }
  .ch-heading {
    background-color: forestgreen;
    font-size: 18px;
    padding: 10px 0px;
    margin: 2px 0px;
    border: 1px dashed white;
    
  }
     .ch-box2 {
       border: 0.5px dotted white;
       padding: 2px 2px;
       border-radius: 2px;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
    }
    .ch-yearly {
      color: white;
      background-color: brown;
      width: 100%;
      margin: 2px 0px;
      border: 1px solid white;
      text-decoration: none;
      padding: 4px 0px;
      border-radius: 5px;
    }
    .ch-yearly:hover {
      background-color: darkred;
    }
    .ch-y {
     border-radius: 2px;
      background-color: beige;
      color: black;
      width: 100%;
      padding: 10px 0px;
      border: 2px solid brown;
      font-weight: bold;
    }
    .conclusion {
      background-color: white;
      padding: 20px 15px;
      color: black;
      border: 2px dashed brown;
      border-radius: 2px;
    }
    .cc-para {
      font-family: serif;
      font-size: 17px;
    }
    .cc-heading {
      margin-top: 5px;
      font-family: serif;
      font-size: 16px;
      text-decoration: underline;
    }
    .c-next {
      background-color: darkgreen;
      border: 2px solid beige;
      padding: 10px 0px;
      font-family: monospace;
      font-size: 20px;
      margin: 5px 0px;
      border-radius: 2px;
    }
    #edit-name, #edit-result {
      border: 0.5px solid black;
      background-color: white;
      color: black;
      padding: 5px 0px;
    }
    #edit-change {
      border: 1px solid black;
      background-color: white;
      color: black;
      padding: 5px 10px;
      margin-bottom: 10px;
    }
    .ytinputs {
      color: black;
      border: 0.5px solid black;
      border-radius: 4px;
      padding: 3px 0px;
    }
